# dependencies - RECURSIVE (no leading slash)
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage

# next.js and build outputs
.next/
out/
build/
dist/
.turbo

# misc
.DS_Store
*.pem
*.log

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts